[submodule "apps/OS.u2re.space"]
	path = apps/OS.u2re.space
	url = https://github.com/u2re-space/OS.u2re.space
[submodule "apps/CrossWord"]
	path = apps/CrossWord
	url = https://github.com/u2re-space/crossword
[submodule "apps/CrossHelp"]
	path = apps/CrossHelp
	url = https://github.com/u2re-space/crosshelp
[submodule "apps/markdown.view"]
	path = apps/markdown.view
	url = https://github.com/u2re-space/markdown.view
[submodule "runtime"]
	path = runtime
	url = https://github.com/u2re-space/webapp.runtime
[submodule "modules/projects/dom.ts"]
	path = modules/projects/dom.ts
	url = https://github.com/fest-live/dom.ts
[submodule "modules/projects/object.ts"]
	path = modules/projects/object.ts
	url = https://github.com/fest-live/object.ts
[submodule "modules/projects/uniform.ts"]
	path = modules/projects/uniform.ts
	url = https://github.com/fest-live/uniform.ts
[submodule "modules/projects/lur.e"]
	path = modules/projects/lur.e
	url = https://github.com/fest-live/lur.e
[submodule "modules/projects/fl.ui"]
	path = modules/projects/fl.ui
	url = https://github.com/fest-live/fl.ui
[submodule "modules/projects/veela.css"]
	path = modules/projects/veela.css
	url = https://github.com/fest-live/veela.css
[submodule "modules/projects/core.ts"]
	path = modules/projects/core.ts
	url = https://github.com/fest-live/core.ts.git
[submodule "modules/projects/icon.ts"]
	path = modules/projects/icon.ts
	url = https://github.com/fest-live/icon.ts.git
[submodule "apps/CS29"]
	path = apps/CS29
	url = https://github.com/u2re-space/CS29
