[submodule "modules/design.core"]
	path = modules/design.core
	url = https://github.com/unite-2-ts/design.core
[submodule "modules/theme.core"]
	path = modules/theme.core
	url = https://github.com/unite-2-ts/theme.core
[submodule "modules/grid.core"]
	path = modules/grid.core
	url = https://github.com/unite-2-ts/grid.core
[submodule "modules/existence.core"]
	path = modules/existence.core
	url = https://github.com/unite-2-ts/existence.core
[submodule "modules/web.core"]
	path = modules/web.core
	url = https://github.com/unite-2-ts/web.core
[submodule "modules/scrollbox.wcomp"]
	path = modules/scrollbox.wcomp
	url = https://github.com/unite-2-ts/scrollbox.wcomp
[submodule "modules/rows.wcomp"]
	path = modules/rows.wcomp
	url = https://github.com/unite-2-ts/rows.wcomp
[submodule "modules/longtext.wcomp"]
	path = modules/longtext.wcomp
	url = https://github.com/unite-2-ts/longtext.wcomp
[submodule "modules/dom.ts"]
	path = modules/dom.ts
	url = https://github.com/unite-2-ts/dom.ts
[submodule "modules/image.wcomp"]
	path = modules/image.wcomp
	url = https://github.com/unite-2-ts/image.wcomp
[submodule "modules/object.ts"]
	path = modules/object.ts
	url = https://github.com/unite-2-ts/object.ts
[submodule "modules/uniform.ts"]
	path = modules/uniform.ts
	url = https://github.com/unite-2-ts/uniform.ts
[submodule "modules/interact.ts"]
	path = modules/interact.ts
	url = https://github.com/unite-2-ts/interact.ts
[submodule "modules/webapp.runtime"]
	path = modules/webapp.runtime
	url = https://github.com/unite-2-ts/webapp.runtime
[submodule "modules/string.js"]
	path = modules/string.js
	url = https://github.com/unite-2-ts/string.js
[submodule "modules/codec.ts"]
	path = modules/codec.ts
	url = https://github.com/unite-2-ts/codec.ts
[submodule "modules/ui.system"]
	path = modules/ui.system
	url = https://github.com/unite-2-ts/ui.system
[submodule "modules/agate.ux"]
	path = modules/agate.ux
	url = https://github.com/unite-2-ts/agate.ux
