@layer tabbed-box {
    :host {
        & {
            display: grid;
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, max-content) minmax(0px, 1fr);
            grid-template-areas: "tabs" "content";
            inline-size: stretch;
            block-size: stretch;
            gap: 0.125rem;
            background-color: transparent;
        }

        // tabs box or group
        .ui-tabbed-box-tabs {
            & {
                display: flex;
                flex-direction: row;
                grid-area: tabs;
                gap: 0.125rem;
                overflow-y: hidden;
                overflow-x: auto;
                inline-size: stretch;
                block-size: max-content;
                background-color: transparent;
                pointer-events: none;
            }

            // elements or items
            & .ui-tabbed-box-tab {
                line-height: normal;
                display: flex;
                flex-direction: row;
                inline-size: max-content;
                min-inline-size: 3rem;
                gap: 0.125rem;
                border-radius: 0.25rem;
                overflow: hidden;
                block-size: max-content;
                min-block-size: 2rem;
                background-color: --c2-surface(0.0, var(--current, currentColor));
                pointer-events: auto;
                cursor: pointer;
                user-select: none;
                place-content: center;
                place-items: center;
                padding: 0.25rem;
            }

            & .ui-tabbed-box-handle {
                pointer-events: auto;
                visibility: collapse;
                content-visibility: hidden;
                inline-size: 0px;
                block-size: 0px;
                appearance: none;
                border: none;
                background-color: transparent;
                padding: 0px;
                margin: 0px;
                outline: none;
                color: transparent;
                opacity: 0;
                z-index: -1;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
            }
        }

        // tabs content box (wrapper)
        .ui-tabbed-box-content {
            & {
                grid-area: content;
                display: flex;
                flex-direction: column;
                gap: 0.125rem;
                border-radius: 0.25rem;
                overflow: hidden;

                //
                inline-size: stretch;
                block-size: stretch;
            }

            // elements or items
            ::slotted(*) {
                inline-size: stretch;
                block-size: stretch;
                line-height: normal;
                padding: 0.25rem;
            }
        }
    }
}
