@use "sass:math";
@use "sass:list";

//
@use "./wavy" as wavy;

@property --background-tone-shift { syntax: "<number>"; initial-value: 0.0; inherits: true; };

//
@layer ux-shapes {

    //
    .shaped {
        --icon-size: 6rem; //100%;
        aspect-ratio: 1 / 1;
        inline-size: 6rem;
        block-size: 6rem;
        display: flex;
        place-content: center;
        place-items: center;

        //
        color: --c2-on-surface(0.0, var(--current));
        background-color: --c2-surface(var(--background-tone-shift, 0.0), var(--current));
        padding: 1.25rem;
        color-scheme: dark;
        pointer-events: auto;
        border-radius: 1.5rem;
        user-select: none;
        z-index: 1;
        clip-path: var(--clip-path);
        --background-tone-shift: 0.0;
        transition-behavior: allow-discrete;
        transition: --background-tone-shift 0.2s ease-in-out, --icon-color 0.2s ease-in-out;

        & span {
            inline-size: stretch;
            block-size: stretch;
        }

        & ui-icon {
            inline-size: stretch;
            block-size: stretch;
        }

        &:hover {
            --background-tone-shift: 0.1;
            --icon-color: --c2-on-surface(0.0, var(--current));
        }
    }

    //
    *[data-dragging] {
        z-index: calc(100 + var(--z-index, 0)) !important;
    }

    //
    *[data-shape="wavy"]:not(:has(.shaped)), *[data-shape="wavy"]:not(.shaped) > *, *[data-shape="wavy"]:not(.shaped) .shaped {
        & {
            --clip-amplitude: 0.05;
            --clip-freq: 8;
            --clip-path: #{wavy.Integrate("wavy-step", 100)};
            --corrector: 1.1;
        }

        //
        & {
            clip-path: var(--clip-path);
            border-radius: calc(var(--icon-size, 100%) * 0.5);
        }
    }

    //
    *[data-shape="circle"]:not(:has(.shaped)), *[data-shape="circle"]:not(.shaped) > *, *[data-shape="circle"]:not(.shaped) .shaped {
        --clip-path: inset(0px 0px round 50%);
        border-radius: calc(var(--icon-size, 100%) * 0.5);
    }

    //
    *[data-shape="tear"]:not(:has(.shaped)), *[data-shape="tear"]:not(.shaped) > *, *[data-shape="tear"]:not(.shaped) .shaped {
        --clip-path: inset(0px 0px round 50% / 0.125);
        border-radius: calc(var(--icon-size, 100%) * 0.5);
        border-end-end-radius: calc(var(--icon-size, 100%) * 0.125);
    }

    //
    *[data-shape="square"]:not(:has(.shaped)), *[data-shape="square"]:not(.shaped) > *, *[data-shape="square"]:not(.shaped) .shaped {
        --clip-path: inset(0px 0px round 25%);
        border-radius: calc(var(--icon-size, 100%) * 0.25);
    }

}
