@use "@ui/scss/classes/mixins" as m;

//
@layer ui-grid-box {
    :host(ui-gridbox) {
        & {
            //container-type: size;
            container-type: normal;
            contain: none !important;
            overflow: visible !important;

            //
            zoom: max(var(--zoom, 1), 0.125);
            font-size: 1rem;

            //
            writing-mode: horizontal-tb !important;
            direction: ltr !important;

            //
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }

        //
        & slot {
            isolation: auto !important;
            display: contents !important;
            overflow: visible !important;
            contain: none !important;
        }

        //
        & {
            @include m.color(transparent);
            @include m.interaction(none);
            @include m.position(relative);
            @include m.display(grid, center, center);
            @include m.size(
                clamp(1px, 100%, 100%),
                clamp(1px, 100%, 100%),
                '1 / 1'
            );
        }

        //
        ::slotted(*) {
            direction: inherit;
            writing-mode: inherit;
            //inset-inline-start: var(--cs-inset-x, 0px) !important;
            //inset-block-start: var(--cs-inset-y, 0px) !important;
        }
    }
}
