/* */
@use "./_decl/names" as *;
@use "./_decl/constants" as *;
@use "./_decl/properties" as *;

/* */
@property --primary { syntax: "<color>"; initial-value: #1a1; inherits: true; };
@property --trinary { syntax: "<color>"; initial-value: #a21; inherits: true; };
@property --secondary { syntax: "<color>"; initial-value: #12a; inherits: true; };
@property --current { syntax: "<color>"; initial-value: #1a1; inherits: true; };
@property --detected-theme { syntax: "<number>"; initial-value: 0; inherits: true; };

/* */
@include property-tones($tone-names);
@include property-themed($primary-name, $tone-names);
@include property-themed($secondary-name, $tone-names);
@include property-themed($trinary-name, $tone-names);
@include property-themed($current-name, $tone-names);

/* */
@include property-value(--primary-tone-shift, 0.0);
@include property-value(--trinary-tone-shift, 0.0);
@include property-value(--secondary-tone-shift, 0.0);
@include property-value(--current-tone-shift, 0.0);

/* */
@include property-value(--surface-tone-shift, 0.0);
@include property-value(--on-surface-tone-shift, 0.0);
@include property-value(--contrast-tone-shift, 0.0);
@include property-value(--on-contrast-tone-shift, 0.0);
@include property-value(--inverse-tone-shift, 0.0);
@include property-value(--on-inverse-tone-shift, 0.0);

/* */
@include property-value(--background-tone-shift, 0.0);
@include property-value(--color-tone-shift, 0.0);
@include property-value(--icon-tone-shift, 0.0);
@include property-value(--accent-tone-shift, 0.0);
@include property-value(--scrollbar-tone-shift, 0.0);
@include property-value(--border-tone-shift, 0.0);
@include property-value(--outline-tone-shift, 0.0);
@include property-value(--text-decoration-tone-shift, 0.0);
@include property-value(--text-emphasis-tone-shift, 0.0);
